body {
  background-image: url(Image/image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgb(165, 145, 145);
  background-blend-mode: soft-light;
}

.container-fluid {
  display: grid;
}

.img {
  text-align: center;
}

.contact-form h2 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 32px;
}

.contact-form h2 span {
  color: #ff4500;
}

.contact-form form {
  max-width: 40em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}

.contact-form form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form form .input-box input {
  width: 60%;
  padding: 1em;
  font-size: 12px;
  color: #000;
  background: rgb(241, 241, 241);
  border-radius: 0.4rem;
  margin: 0.3rem;
  resize: none;
  border-color: rgb(165, 145, 145);
}

.contact-form textarea {
  width: 75%;
  font-size: 16px;
  border-radius: 0.4rem;
  margin: 0.3rem;
  resize: none;
  padding: 1em;
}

.contact-form input {
  color: #fff;
  background: #000;
  font-size: 14px;
  border-radius: 0.4rem;
  margin: 0.3rem;
  resize: none;
  padding: 1em;
}

input:hover {
  background: #ff4500;
}

@media screen and (max-width: 760px) {
  .board {
    width: 100%;
  }

  .forget-row {
    margin-left: 2em;
  }
}
